<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="EUC-JP">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>

  <body>
    <header class="header">
      <h1 class="logo">typeA Title</h1>
    </header>